<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <a href="/"><button type="button">메인페이지</button></a>
  <button type="button" onclick="categoryform()">비회원 방문록</button>
  <div class="headerbox">

  </div>

  <table class="mtable">

  </table>

  <div class="categoryform">

  </div>

  <div class="categorybox">

  </div>

  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="/js/index.js"></script>

</body>
</html>
